.parent {
  position: relative;
}
.fullname,
span {
  top: 0;
  position: absolute;
  width: 120px;
}
span {
  top: 2px;
  left: 2px;
  z-index: 1;
  overflow: hidden;
}
.fullname {
  background: transparent;
  z-index: 2;
}
